@tailwind base;
@tailwind components;
@tailwind utilities;

.rectangle{
    clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
}

.footer{
    background-image: url('../../public/AboutUs.webp');
    background-repeat: no-repeat;
    object-fit: cover;
}