@tailwind base;
@tailwind components;
@tailwind utilities;

.rectangle{
    clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
}
.choose{
    background-image: url('../../public/decImg2.svg');
    background-repeat: no-repeat;
}
.aboutBanner{
    background-image: url('../../public/aboutPage/OurMission.webp');
    object-fit: cover;
    height: 90vh;
    background-size: cover;
}
.footer{
    background-image: url('../../public/AboutUs.webp');
    background-repeat: no-repeat;
    object-fit:cover ;
}